@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');
@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');


body {
    font-family: 'Noto Sans KR', sans-serif;
}

.container {
    position: relative;
    display: flex;
    width: 1200px;
    margin: 0 auto;

}

@media(max-width:768px) {
    .container {
        width: auto;
        flex-direction: column;
        padding: 0 15px;
    }

    h2 {
        padding: 0 15px;
    }

    p {
        padding: 0 15px;
        line-height: 1.45;
    }

    .container h2,
    .container p {
        padding: 0 0;
    }
}

/* 기본설정을 어떻게 할 것인가? */

.top_banner {
    padding: 25px 0;
    background: #f1f1f1;

}

.top_banner .container {
    display: block;
}

.top_banner h2 {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 30px;
    margin: 0 0 10px 0;
}

.top_banner p {
    font-size: 15px;
    font-weight: 300;

}

/* display:block 쓰면 안됌-밑으로 가기 때문 */
/* 인라인속성은 아래위로 패딩속성이 안먹음-그렇게보일뿐 */
.top_banner a {
    padding: 2px 15px 4px 15px;
    border: 1px solid #333;
    margin: 0 0 0 20px;

}

.top_banner i {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background: #333;
    /* border-radius: 50%; */
    color: #f1f1f1;
    cursor: pointer;
}

@media(max-width:768px) {

    .top_banner {
        position: absolute;
        top: 300px;
        left: 15px;
        right: 15px;
        padding: 25px 15px;
        z-index: 1000;
    }

    .top_banner i {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        background: #333;
        /* border-radius: 50%; */
        color: #f1f1f1;
        cursor: pointer;
    }

    .top_banner h2 {

        font-size: 20px;
        margin: 0 0 10px 0;
    }

    .top_banner p {
        font-size: 13px;
        line-height: 1.56;
        margin: 20px 0 0 0;
    }

    .top_banner a {
        padding: 0 15px 4px 15px;
        border: 1px solid #333;
        margin: 20px 0 0 0;
        display: block;
        width: 100px;
    }
}

.header .gnb {
    line-height: 100px;
}

/*Q. padding으로 왜 안하는지? */


.header .gnb nav {
    margin: 0 0 0 auto;

}

.header .gnb form {
    margin: 0 0 0 50px;
}

.header .mbtn {
    display: none;
}

@media(max-width:768px) {

    .header h1 {
        padding: 0 15px;
    }

    .header .mbtn {
        display: block;
        position: fixed;
        top: 20px;
        right: 10px;
        line-height: 1;
        background: #ddd;
        border-radius: 5px;
        z-index: 1000;
    }

}

nav>ul {
    display: flex;
}

/* nav>ul>li{
    padding: 0 20px;
}  gap이 ex에서는 안먹히기 때문에 사이사이에 거리를 주고 싶을 때 패딩으로 간격 주기*/

nav>ul>li~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 13px;
    background: #ddd;
    margin: 0 20px;
}

#searchForm input[type='text'] {
    border: none;
    border-bottom: 1px solid #ddd;
    outline: none;
    padding: 5px 0;

}

#searchForm button {
    border: none;
    outline: none;
    background: transparent;
    font-size: 30px;

}

/* 기본설정을 리셋에다 하기도 */


@media(max-width:768px) {
    nav {
        position: fixed;
        top: 0;
        left: -100%;
        width: calc(100% - 90px);
        height: 100vh;
        background: #fff;
        border-right: 1px solid #333;
        z-index: 1000;
        transition: 0.5s;
    }

    /* 문. 포지션픽스드랑 앱솔루트 차이? */
    nav.on {
        left: 0;
    }

    nav>ul {
        display: flex;
        flex-direction: column;
        line-height: 40px;
        padding: 100px 30px;
    }

    nav>ul>li {
        border-bottom: 1px solid #ddd;
    }

    nav>ul>li>a {
        display: block;

    }

    nav>ul>li~li::before {
        display: none;
    }

    #searchForm {
        display: none;
    }
}

.main_visual figure {
    position: relative;
    height: 600px;
}


.main_visual .itm01 {
    background: url(../img/mainvisual01.jpg) no-repeat center center/cover;
}

.main_visual .itm02 {
    background: url(../img/mainvisual02.jpg) no-repeat center center/cover;
}

.main_visual .itm03 {
    background: url(../img/mainvisual03.jpg) no-repeat center center/cover;
}

.main_visual .container {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.main_visual figure h3 {
    font-size: 60px;
    font-weight: 900;
    margin: 0 0 20px 0;
    text-shadow: 0 0 5px #333;
    /* 텍스트에 그림자 우 -아래-흐리게 */
}

.main_visual figure.itm02 h3 {
    color: #333;
    text-shadow: 0 0 2px #fff;

}

.main_visual figure p {
    font-size: 13px;
    font-weight: 300;
    margin: 0 0 20px 0;

}

.main_visual figure.itm02 p {
    color: #333;
}

.main_visual figure a {
    display: inline-block;
    font-size: 13px;
    font-weight: 300;
    text-align: center;
    border: 1px solid #fff;
    background: #333;
    padding: 2px 20px 8px 20px;

}


.main_visual figure h3 {
    transform: translateY(100px);
    opacity: 1;


}

.main_visual figure.on h3 {
    transform: translateY(0);
    opacity: 1;
    transition: 0.5s;
}

/* Q.transition을 on에 붙이는 이유-뒤로가는 동작을 없애려고?? */

.main_visual figure p {
    transform: translateY(100px);
    opacity: 0;
}

.main_visual figure.on p {
    transform: translateY(0);
    opacity: 1;
    transition: 0.5s;
}

.main_visual figure a {
    transform: translateY(100px);
    opacity: 0;
}

.main_visual figure.on a {
    transform: translateY(0);
    opacity: 1;
    transition: 0.5s 1s;
}

.main_visual .slick-dots {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
}

.main_visual .slick-dots li {
    display: inline-block;
    width: 80px;
    height: 5px;
    background: #333;
    margin: 0 5px;
}

.main_visual .slick-dots li::after {
    content: "";
    display: block;
    width: 0;
    height: 100%;
    background: #f00;

}

.main_visual .slick-dots li.slick-active::after {
    width: 100%;
    transition: 3s;
}

/* 게이지가 차는 것처럼??이해가 잘 안됨 */

.main_visual .slick-dots button {
    display: none;
}

@media(max-width:768px) {

    .main_visual {
        position: relative;
    }

    .main_visual figure {
        position: relative;
        height: calc(100vh - 100px);
    }


    .main_visual .itm01 {
        background: url(../img/mainvisual01.jpg) no-repeat left center/cover;
    }

    .main_visual .itm02 {
        background: url(../img/mainvisual02.jpg) no-repeat right center/cover;
    }

    .main_visual .itm03 {
        background: url(../img/mainvisual03.jpg) no-repeat right center/cover;
    }

    .main_visual .container {
        display: block;
        position: absolute;
        top: 50%;
        left: 15px;
        right: 15px;
        transform: translate(0, -50%);
        color: #fff;
    }

    .main_visual figure h3 {
        font-size: 6vw;
        font-weight: 900;
        margin: 0 0 20px 0;
        text-shadow: 0 0 5px #333;
        /* 텍스트에 그림자 우 -아래-흐리게 */
    }

    .main_visual figure.itm02 h3 {
        color: #fff;
        text-shadow: 0 0 2px #fff;
    }

    .main_visual figure p {
        font-size: 13px;
        font-weight: 300;
        margin: 0 0 20px 0;
        padding: 0 0;

    }

    .main_visual figure.itm02 p {
        color: #fff;
    }

    .main_visual figure a {
        display: inline-block;
        font-size: 13px;
        font-weight: 300;
        text-align: center;
        border: 1px solid #fff;
        background: #333;
        padding: 2px 20px 8px 20px;

    }


    .main_visual figure h3 {
        transform: translateY(100px);
        opacity: 1;


    }

    .main_visual figure.on h3 {
        transform: translateY(0);
        opacity: 1;
        transition: 0.5s;
    }

    .main_visual figure p {
        transform: translateY(100px);
        opacity: 0;
    }

    .main_visual figure.on p {
        transform: translateY(0);
        opacity: 1;
        transition: 0.5s;
    }

    .main_visual figure a {
        transform: translateY(100px);
        opacity: 0;
    }

    .main_visual figure.on a {
        transform: translateY(0);
        opacity: 1;
        transition: 0.5s 1s;
    }

    .main_visual .slick-dots {
        position: absolute;
        bottom: 80px;
        left: 50%;
        transform: translateX(-50%);
    }

    .main_visual .slick-dots li {
        display: inline-block;
        width: 10px;
        height: 10px;
        background: #333;
        margin: 0 2px;
        border-radius: 50%;
        overflow: hidden;
    }

    .main_visual .slick-dots li::after {
        content: "";
        display: block;
        width: 0;
        height: 100%;
        background: #f00;

    }

    .main_visual .slick-dots li.slick-active::after {
        width: 100%;
        transition: 3s;
    }

    .main_visual .slick-dots button {
        display: none;
    }

}


/* 자습부분 */

.basic {
    padding: 100px 0;
    background: #f00;
    text-align: center;
}

/* .dtainer{
    width: 1230px;
    margin: 0 auto;
}
.dtainer::after{
    content: "";
    display: block;
    clear: both;
}
.dtainer figure{
    float: left;
    width: 33.33333333%;
    padding: 0 15px;
}
문. float 속성 자체가 뜨는 속성?

.dtainer figure img{
    max-width: 100%;

} 옛날방법*/

.basic .container {
    gap: 30px;

}

section h2 {
    font-size: 21px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

section p {
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 30px 0;
}

.basic figure {
    flex: 1;
    /* overflow: hidden; -필요없는 코드 아닌가? inbox에 히든 줬느데*/
}

.basic figure .inbox {
    overflow: hidden;
    border-radius: 47% 53% 51% 49% / 64% 66% 34% 36%;
    transition: 0.5s;
    margin: 0 0 30px 0;
}


.basic figure:hover .inbox {
    border-radius: 10px;
}

.basic figure img {
    transition: 0.5s;
}

.basic figure:hover img {
    transform: scale(1.25);
}


.basic figure strong {
    display: block;
    margin: 0 0 20px 0;
}

.basic figure a {
    display: inline-block;
    background: #333;
    padding: 5px 20px 10px 20px;
    color: #fff;
}

.fixed_bg {
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../img/mainvisual01.jpg) no-repeat fixed center center/cover;
    filter: grayscale(0.75);
}

/*background:url() 반복여부 scroll과 fixed가 있다 정렬 position 사이즈  */

.fixed_bg i {
    padding: 10px;
    background: #333;
    margin: 5px 0 0 20px;
    border-radius: 50%;
    vertical-align: middle;
}

.fixed_bg span {
    vertical-align: middle;
    /* vertical-align은 기준선을 만들어 그 기준선에 정렬하는 느낌 */

}

@media(max-width:768px) {
    .fixed_bg {
        padding: 100px 0;
        text-align: center;
        color: #fff;
        background: url(../img/mainvisual01.jpg) no-repeat scroll center center/cover;
        filter: grayscale(0.75);
    }

    .fixed_bg i {
        padding: 10px;
        background: #333;
        margin: 5px 0 0 20px;
        border-radius: 50%;
        vertical-align: middle;
    }

    .fixed_bg span {
        vertical-align: middle;
    }
}

.movie {
    padding: 100px 0;

}

.movie .container {
    gap: 50px;
}

.movie .container figure {
    flex: 1;
}

.movie .container .dec {
    flex: 1;
    padding: 100px 0;

}

.movie video {
    max-width: 100%;
}

.movie .dec i {
    padding: 10px;
    background: #333;
    color: #fff;
    margin: 0 5px 0 0;
}

.utube {
    padding: 150px 0;
    text-align: center;
    color: #fff;
    /* filter: grayscale(1); */
}

.utube i {
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    margin: 0 5px;
    font-size: 25px;
    cursor: pointer;
}

.product_list {
    position: relative;
    padding: 100px 0;
    text-align: center;
}

.product_list small {

    position: relative;
    display: inline-block;
    background: rgb(249, 247, 191);
    border: 1px solid rgb(209, 208, 165);
    border-radius: 50%;
    width: 40px;
    height: 30px;
    /* box-sizing: content-box; */

}

.product_list span {
    position: absolute;
    font-size: 15px;
    top: 30%;
    left: 10%;
    color: rgb(133, 136, 74);
}

.product_list .product_slider {
    width: 1230px;
    margin: 0 auto;

}

.product_list .product_slider figure {
    padding: 50px 15px;
}

.product_list i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    padding: 15px;
    color: #fff;
    font-size: 40px;
}

/* transfrom 은 기준이 자기자신 -가 왼쪽,위로가는거  */
/* 아이콘 디자인하고 가운데 가져다놓기 */

.product_list .s_left {
    margin: 0 0 0 -650px;
}

.product_list .s_right {
    margin: 0 0 0 650px;
}

.product_list .slick-dots {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 20px 0 0 0;
}

/* 문.justify-content와 text-align차이 */

.product_list .slick-dots li {
    width: 10px;
    height: 10px;
    background: #333;
    border-radius: 50%;
}

.product_list .slick-dots li.slick-active {
    background: #f00;
}

.product_list .slick-dots button {
    display: none;
}

.product_list .box {
    margin: 0 0 20px 0;
    overflow: hidden;
}

/* 사진과 설명을 띄우기 위함 */



.product_list figure img {
    padding: 50px 0;
    transition: 0.5s;
}

.product_list figure.slick-center img {
    transform: scale(1.25);
}

@media(max-width:768px) {

    .product_list .product_slider {
        width: auto;
    }

    .product_list .product_slider figure {
        padding: 0 15px;
    }

    .product_list i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(0, -50%);
        background: #333;
        padding: 15px;
        color: #fff;
        font-size: 40px;
    }


    .product_list .s_left {
        margin: 0 0 0 0;
        left: 15px;
    }

    .product_list .s_right {
        margin: 0 0 0 0;
        left: auto;
        right: 15px;
    }

    .product_list small {
        position: relative;
        display: none;
        background: rgb(249, 247, 191);
        border: 1px solid rgb(209, 208, 165);
        border-radius: 50%;
        width: 40px;
        height: 30px;
        /* box-sizing: content-box; */
    }

    .product_list .slick-dots {
        display: flex;
        justify-content: center;
        gap: 5px;
        margin: 20px 0 0 0;
    }

    /* 문.justify-content와 text-align차이 */

    .product_list .slick-dots li {
        width: 10px;
        height: 10px;
        background: #333;
        border-radius: 50%;
    }

    .product_list .slick-dots li.slick-active {
        background: #f00;
    }

    .product_list .slick-dots button {
        display: none;
    }

    .product_list .box {
        margin: 0 0 20px 0;
        overflow: hidden;
    }

    /* 사진과 설명을 띄우기 위함 */



    .product_list figure img {
        padding: 50px 0;
        transition: 0.5s;
    }

    .product_list figure.slick-center img {
        transform: scale(1.25);
    }
}

.tab {
    padding: 100px 0;
    background: #f7f7f7;
}

.tab .container {
    gap: 40px;
}

.tab .tab_wrap {
    flex: 1;
}

.tab_link {
    display: flex;
    border: 1px solid #ddd;
}

.tab_link>li {
    flex: 1;
    background: #333;
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
}

.tab_link>li.on {
    background: #f00;
}

.tab_link>li~li {
    border-left: 1px solid #ddd;
}

.tab figure {
    flex: 1;
}

.tab_content>li {
    display: none;
}

.tab_content>li.on {
    display: block;
}

.tab_content>li dd {
    display: flex;
    justify-content: space-between;
    line-height: 24px;
    border-bottom: 1px solid #ddd;
}

.tab_content>li dd strong {
    width: 480px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.footer {
    background: #333;
    padding: 0 0 50px 0;
    color: #fff;
    font-weight: 300;
    font-size: 15px;
}

.footer hr {
    border: none;
    border-top: 1px solid #666;
    margin: 0;
}

.footer .container {
    justify-content: space-between;
    line-height: 60px;
}

.footer .footer_top ul {
    display: flex;

}

.footer .footer_top ul li~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    background: #ddd;
    margin: 0 15px;
    vertical-align: middle;
}

.footer .footer_top .sns {
    font-size: 0;
}

/* 아이콘 사이를 붙이려고-리셋의의미 */

.footer .footer_top i {
    padding: 10px;
    background: #111;
    font-size: 21px;
    margin: auto 2px;
    vertical-align: middle;
}

.footer #link {
    background: #111;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    padding: 5px 15px;
    outline: none;
}

@media(max-width:768px) {
    .footer {
        background: #333;
        padding: 0 0 50px 0;
        color: #fff;
        font-weight: 300;
        font-size: 15px;
    }

    .footer .container {
        align-items: center;
        justify-content: space-between;
        line-height: 1.4;
        padding: 30px 15px;
    }

    .footer .footer_top ul {
        display: block;
        text-align: center;
        padding: 0 0 20px 0;

    }

    .footer .footer_top ul li {
        display: inline-block;
        padding: 0 15px;
    }

    .footer .footer_top ul li~li::before {
        content: "";
        display: none;
        width: 1px;
        height: 12px;
        background: #ddd;
        margin: 0 15px;
        vertical-align: middle;
    }

    .footer .left {
        text-align: center;
        margin: 0 0 20px 0;

    }
}