<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>220810-01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  <servlet><!-- 패기지이름과 서블릿 이름을 적어야하고  -->
  	<servlet-name>FirstServlet</servlet-name><!--서블릿 이름을 만들어주어야 한다.   -->
  	<servlet-class>kr.co.greenart.CountryServlet</servlet-class>
  </servlet>
  
  <servlet-mapping><!-- 위에 적은 이름 그대로 -->
  	<servlet-name>FirstServlet</servlet-name>
  	<url-pattern>/test</url-pattern><!-- 서블릿이 어떤 주소에 대해서 동작할 것인지 적어줌 -->
  </servlet-mapping>
  
  
  
</web-app>